.logo {
  float: left;
  width: 120px;
  margin: 16px 24px 16px 24px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  text-align: center;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 24px 16px 24px;
}

.site-layout-background {
  background: #fff;
}
